<!--<p>
    {{ cities | json }}
</p>-->
<div class="row justify-content-end app-margin-bottom">
    <div class="col-1">
        <button type="button" class="btn btn-primary" (click)="addNewCity()">Add New</button>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Cities</th>
                <th scope="col">Description</th>
                <th scope="col">Places</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let city of cities">
                <td>{{ city.name }}</td>
                <td>{{ city.description | description : 50 }}</td>
                <td>{{ city.numberOfPointsOfInterest }}</td>
                <td>
                    <input type="button" class="btn btn-info" (click)="selectCity($event, city)" value="Edit" />
                    <input type="button" class="btn btn-warning app-margin-left" (click)="deleteCity($event, city)" value="Delete" />
                    <input type="button" class="btn btn-secondary app-margin-left" (click)="updatePic(city)" value="Update Pic" />
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-city-form *ngIf="isFormActive" (closeRequested)="closeForm($event)" [city]="selectedCity"></app-city-form>

<app-city-photo *ngIf="isPicFormActive" [city]="selectedCity"></app-city-photo> 
<!--<app-city-form *ngIf="isFormActive" (closeRequested)="closeForm($event)" [city]="selectedCity"></app-city-form>-->