<form class="border-top border-dark" [formGroup]="cityForm" (ngSubmit)="submit()">
    <div class="row">

        <div class="col">
            <label for="name">Name</label>
            <input class="form-control" type="text" formControlName="name" class="form-control" />
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors['required']">
                    Name is required.
                </div>
            </div>
        </div>
        <div class="col">
            <label for="description">Description</label>
            <textarea class="form-control" formControlName="description" rows="3"></textarea>
        </div>
    </div>

    <div class="row">
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="!cityForm.valid">Submit</button>
    </div>

</form>